hr {
    margin: 10px 0 !important;
}

.card-damage {
    background-color: #fedcd1 !important;
}

.card-recovery {
    background-color: #d3eeff !important;
}

.card-special {
    background-color: #c0ffc0 !important;
}

.card-not-playable {
    background-color: #bfbfbf;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + .select-fighter {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + .select-fighter {
    outline: 4px solid #f00;
}